{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <title>Student</title>



</head>

<body>
  <!-- {{allApp}} -->
  <div class="container">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">KPMB E-Intervention</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page"
            href="{%url 'studentmainpage' selectedStudent.studentId%}">Home</a>
          <a class="nav-link" href="{% url 'report' selectedStudent.studentId%}">Report</a>
        </div>
      </div>
      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">

          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{%url 'login'%}">Sign out</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container mt-5">
    <!-- <div class="container mt-5"> -->
    <div class="d-flex position-relative">
      <img style="width: 10em; height: 10em; border-radius: 50%;" src="{% static 'graduated.png' %}"
        class="flex-shrink-0 me-3" alt="...">
      <div>
        <h1 class="mt-0">Welcome back, {{selectedStudent.studentName}}</h1>
        <p class="m-0">Address:{{selectedStudent.StudentAddress}}</p>
        <p class="m-0">No phone:{{selectedStudent.studentNo}}</p>
        <p class="m-0">Course:{{selectedStudent.Studentcourse}}</p>
        <button class="btn -btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"">Edit profile</button>
        <!-- Button trigger modal -->
        <!-- href= %} -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Profile</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{%url 'editProfile' selectedStudent.studentId%}">
          {%csrf_token%}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Address</label>
            <textarea class="form-control" name="updateAddress" id="floatingTextarea"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Phone Number</label>
            <input type="text" name="updatePhone" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
    <h1 class="display-6 mt-5">Student Report</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Student Id</th>
          <th scope="col">Report Id</th>
          <th scope="col">Report Type</th>
          <th scope="col">Report </th>
          <th scope="col">Date </th>
        </tr>
      </thead>
      <!-- {{Allreport}}
      {{selectedStudents}} -->
      <tbody>

        {%for report in Allreport%}
        <tr>
          <th>{{report.studentId_id}}</th>
          <td>{{report.mentorId_id}}</td>
          <td>{{report.reportId}}</td>
          <td>{{report.reportType}}</td>
          <td>{{report.reportProg}}</td>
          <td>{{report.date}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>


    <h1 class="display-6 mt-5">Mentor Appoinment</h1>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Student Id</th>
          <th scope="col">Mentor Id</th>
          <th scope="col">Date </th>
          <th scope="col">Time </th>
          <th scope="col">Description </th>
          <th scope="col">Venue </th>
        </tr>
      </thead>
      <tbody>
<!-- {{allApp}} -->
        {%for app in allApp%}
        <tr>
          <th>{{app.id}}</th>
          <td>{{app.studentId_id}}</td>
          <td>{{app.mentorId_id}}</td>
          <td>{{app.date}}</td>
          <td>{{app.time}}</td>
          <td>{{app.Report}}</td>
          <td>{{app.venue}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
  </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
  integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</html>